<style>
    .Subscribeitemtab .nft__item::after {
    content: "";
    background-color: rgba(111 ,37 ,37,0.94);
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    border-radius: 8px;
    z-index: 10;
    /* width: 88%; */
    margin: auto;
    height: 94%;
}
.Subscribeitemtab .nft__item::after {
    background-color: transparent !important;
    background-image: url('../../images/dummy-img.png');
    background-position: center;
    background-size: 100% 100%;
    margin: 0 auto !important;
    height: 100% !important;
    background-repeat: no-repeat;
}

</style>
<!-- content begin -->
<div class="no-bottom no-top" id="content">
    <div id="top"></div>
    
     <!-- section begin -->
    <section id="subheader" class="text-light">
            <div class="center-y relative text-center">
                
            </div>
    </section>
    <!-- section close -->
    

    <section aria-label="section">
        <div class="container">
            <div class="row">
                <div class="col-md-12">

                    <div class="d_profile de-flex">
                        <div class="de-flex-col">
                            <div class="profile_avatar">
                                <img src="/uploadFile/<%=user.image %>" alt="">
                                <i class="fa fa-check"></i>
                                <div class="profile_name">
                                    <h4>
                                        <%=user.name %>                                               
                                        <span class="profile_username"><%=user.description %></span>
                                       
                                    </h4>
                                </div>
                            </div>
                        </div>
                        <div class="profile_follow de-flex social-link">
                            
                            <div class="de-flex-col">
                                <a  <% if(user.twitter){%> href="<%=user.twitter %>"target="_blank" %<} else{%> href="#" <%}%> class="btn-main "><i class="fa fa-twitter"></i> </a>
                            </div>
                            <div class="de-flex-col">
                                <a <% if(user.instagram){%> href="<%=user.instagram %>"target="_blank" %<} else{%> href="#" <%}%> class="btn-main"><i class="fa fa-instagram"></i> </a>
                            </div>
                            <div class="de-flex-col">
                                <a <% if(user.website){%> href="<%=user.website %>"target="_blank" %<} else{%> href="#" <%}%>  class="btn-main"><i class="fa fa-table"></i> </a>
                            </div>
                        </div>

                    </div>
                    </div>
                
                   
                </div>

                <div class="col-md-12">
                    <div class="de_tab">

                         
                        
                        <div class="de_tab_content">
                            
                            <div class="tab-1">
                                <div class="row">
                                        <!-- nft item begin -->
                                        <% content.forEach(function(content,index){%>
                                            <%var Subscribeitemtabs=''%>
                                            
                                            


                                            <!-- =================================== -->
                                            
                                            <%if(session.subscription){%>
                                                    <% if(content.details.available_to.includes(session.subscription)==true ){%>
                                                        
                                                        <%Subscribeitemtabs=''%>
                                                <%}else{%>
                                                        <%if(session.subscription=='3 Tier'){%>
                                                            
                                                            <%if(content.details.available_to.includes('2 Tier')==true ){%>
                            
                                                                <%Subscribeitemtabs=''%>
                                                            <%}else if(content.details.available_to.includes('1 Tier')==true ){%>
                                                                <%Subscribeitemtabs=''%>
                                                                <%}else{%>
                                                                    <%Subscribeitemtabs='Subscribeitemtab'%>
                                                                    <%}%>
                                                        <%}else if(content.details.available_to.includes('1 Tier')==true ){%>
                                                        
                                                    <% Subscribeitemtabs=''%>
                                                    <%}else{%>
                                                        <%Subscribeitemtabs='Subscribeitemtab'%>
                                                <% }%>
                                                        
                                                    
                                                <%}%>
                                        <%}else{%>
                                        
                                           <% if(content.details.available_to.includes('1 Tier')==true){%>
                                            
                                            <%Subscribeitemtabs=''%>
                                        <%}else{%>
                                            <%Subscribeitemtabs='Subscribeitemtab'%>
                                       <% }%> 
                                       <% }%>
                                        <div data-id="<%=content.details.available_to %>" class="col-lg-3 col-md-6 col-sm-6 col-xs-12 <%=Subscribeitemtabs%>">
                                            <div class="nft__item">
                                                <div class="de_countdown" data-year="2021" data-month="8" data-day="16" data-hour="8"></div>
                                                <div class="author_list_pp">
                                                    <a href="/author?id=<%=content.user._id %>">                                    
                                                        <img class="lazy" src="/uploadFile/<%=content.user.image?content.user.image:'author-2.jpg' %>" alt="">
                                                        <i class="fa fa-check"></i>
                                                    </a>
                                                </div>
                                                <div class="nft__item_wrap">
                                                    <a href="/item-details?id=<%=content._id %>">
                                                        <img src="/uploadFile/<%=content.image %>" class="lazy nft__item_preview" alt="">
                                                    </a>
                                                </div>
                                                <div class="nft__item_info">
                                                    <a href="item-details.php">
                                                        <h4><%=content.title %></h4>
                                                    </a>
                                                    <div class="nft__item_price">
                                                        0.08 ETH<span>1/20</span>
                                                    </div>
                                                    <div class="nft__item_action">
                                                       <%if(content.details.for_sale=="Bid"){%>
                                                        <%
                                                        var myDate = content.details.bid_end.split("-");
                                                        var newDate = new Date( myDate[0], myDate[1] - 1, myDate[2]);
                                                        var end_date = newDate.getTime()
                                                        var todayDate = new Date().toISOString().slice(0, 10);
                                                        var myDate1 = todayDate.split("-");
                                                        var newDate1 = new Date( myDate1[0], myDate1[1] - 1, myDate1[2]);
                                                        var to_day_date = newDate1.getTime()
                                                        %>
                                                        <button type="button" <%if(end_date<to_day_date){%>disabled <%}%> class="btn btn-primary " onclick="startBid('<%=content._id %>','<%=content.details.bid_min_amount%>');" >Place Bid</button>
                                                        <%}else{%>
                                                        <%if(content.nftToken){%>
                                                        <a href="#" onclick="startBuy('<%=content._id %>','<%=content.basic_price%>')">Buy Now</a>
                                                        <%}else{%>
                                                            <a href="#">Sold Out</a>
                                                        <%}%>
                                                        <%}%>
                                                       
                                                    </div>
                                                    <div class="nft__item_like">
                                                        <i class="fa fa-heart"></i><span>50</span>
                                                    </div>                            
                                                </div> 
                                            </div>
                                        </div> 

                                       <% }) %>
                                    </div>
                            </div>
                            
                          
                            
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div class="modal fade" id="staticBackdrops" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form name="contactForm" id="contact_form"  class="form-border" method="post" action="">
                    <h5 class="modal-title mb-3" id="staticBackdropLabel">Enter Minimum Bid Amount</h5>
                    <div class="field-set" style="background-size: cover;">
                        <span id="error_message"></span>
                        <input type="text" name="name" id="bid_amount" class="form-control" placeholder="Enter Minimum Bid Amount">
                    </div>
    
                    <div class="spacer-half" style="background-size: cover;"></div>
                    <input type="hidden"name="content_id" id="amountcontents_id" value=""/>
                    <input type="hidden"name="content_min_bid_price" id="content_min_bid_price" value=""/>
                    <div id="submit" style="background-size: cover;">
                        <button type="button" onclick="placeBid()" id="send_message"class="btn btn-main">submit</button>
                    </div>
                    
                </form>
              </div>
            
          </div>
        </div>
      </div>
    
</div>
<!-- content close -->
<style>
     .profile_follow.social-link a {
    padding: 5px 14px;
    margin: 0px 5px;
}
</style>
<script>
    function startBid(containt_id,amount){ 
    $('#amountcontents_id').val(containt_id)
    $('#content_min_bid_price').val(amount)
    $('#staticBackdrops').modal('show')
       
   }
   function placeBid(){
      let checkAmount=checkBidAmount();
   
      if(checkAmount)
      {
          let amount= document.getElementById('bid_amount').value
          let id = document.getElementById('amountcontents_id').value
          
          
         confirmBid(amount,id);
       }
       else
        {
            return false;
        }
  }  
  function checkBidAmount(){  //alert("hello")
      let min_amount=document.getElementById('content_min_bid_price').value;
      let amount= document.getElementById('bid_amount').value

      min_amount=parseInt(min_amount);
      amount=parseInt(amount);
      if(amount<min_amount){ 
          document.getElementById('error_message').innerText="Bid Amount Should be greater than min bid Amount";
         document.getElementById('bid_amount').value="";
      }
      else
      {
        document.getElementById('error_message').innerText="";

          return true;
      }
  }  
  function confirmBid(amount,id){
    
    let address=getAccountData();


        $.ajax({
            dataType: "json",
            type: 'GET',
            url: '/place-bid',
            data: {
                    "address":address,
                        "bid_amount":amount,
                        "content_id":id
                    },
            success: function(data) {
                swal({
                        type: 'success',
                        text: 'Bid completed successfully.',
                        timer: 3000,
                        onOpen: function() {
                        swal.showLoading()
                    }
                }).then(function() {
                    location.reload();
                });
                            location.reload();
            }
        });

    }
</script>